In [231]:
pwd

'/Users/samehayousef/Desktop/Summer Training/Data_Science&AI/Deep Learning'

In [232]:
ls

2.4 TensorFlow Hello World.ipynb
2.5 Linear Regression with TensorFlow.ipynb
2.6 Logistic Regression with TensorFlow.ipynb
3.5 Understanding Convolutions.ipynb
4.5 LSTM Basics.ipynb
4.7 LSTM Language Modelling.ipynb
5.4 RBM with MNIST.ipynb
6.3 Autoencoders.ipynb
AI_Step5_project_1.pdf
CNN with MNIST Dataset.ipynb
FuelConsumption.csv
NN-06-perceptron.ipynb
PDF/
Project1_DL_Loans.ipynb
baby.jpg
bird.jpg
data/
digit.png
keras-03-1-PROJ-House-loan copy2.ipynb
keras-03-1-PROJ-House-loan.ipynb
keras-03-PIMA.ipynb
keras-09-reg-auto-MPG-epochdots-ES.ipynb
keras-20-UF-OF-regularization-dropout-HIGGS.ipynb
loan_data (1).csv

## Sameha Yousef - House Loan Project

DESCRIPTION

For safe and secure lending experience, it's important to analyze the past data. In this project, you have to build a deep learning model to predict the chance of default for future loans using the historical data. As you will see, this dataset is highly imbalanced and includes a lot of features that make this problem more challenging.

Objective: Create a model that predicts whether or not an applicant will be able to repay a loan using historical data.

Domain: Finance

Analysis to be done: Perform data preprocessing and build a deep learning prediction model.

Steps to be done: 

##### Load the dataset that is given to you
##### Check for null values in the dataset
##### Print percentage of default to payer of the dataset for the TARGET column
##### Balance the dataset if the data is imbalanced
##### Plot the balanced data or imbalanced data
##### Encode the columns that is required for the model
##### Calculate Sensitivity as a metrice
##### Calculate area under receiver operating characteristics curve

In [105]:
# first neural network with keras tutorial
import pandas as pd
import numpy  as np

from keras.models import Sequential
from keras.layers import Dense

In [106]:
location = 'loan_data (1).csv'

df = pd.read_csv(location)

In [107]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [108]:
df.shape

(307511, 122)

In [109]:
na = df.isna().sum()

In [110]:
na_df = pd.DataFrame(na[na>0], columns = ["# of na's"])

In [111]:
na_df['percent_null'] = np.round((na_df["# of na's"]/ df.shape[0])*100,2)

In [112]:
na_df

                            # of na's  percent_null
AMT_ANNUITY                        12          0.00
AMT_GOODS_PRICE                   278          0.09
NAME_TYPE_SUITE                  1292          0.42
OWN_CAR_AGE                    202929         65.99
OCCUPATION_TYPE                 96391         31.35
...                               ...           ...
AMT_REQ_CREDIT_BUREAU_DAY       41519         13.50
AMT_REQ_CREDIT_BUREAU_WEEK      41519         13.50
AMT_REQ_CREDIT_BUREAU_MON       41519         13.50
AMT_REQ_CREDIT_BUREAU_QRT       41519         13.50
AMT_REQ_CREDIT_BUREAU_YEAR      41519         13.50

[67 rows x 2 columns]

In [113]:
#drop columns with more than 50% nan
nas = na_df[na_df.percent_null>=0.5]
adj = na_df[na_df.percent_null<0.5]


print(nas.index)
print(len(nas))
new_df = df.drop(nas.index, axis=1)
new_df.head()

Index(['OWN_CAR_AGE', 'OCCUPATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_3',
       'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
       'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG',
       'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
       'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG',
       'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE',
       'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE',
       'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE',
       'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI',
       'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI',
       'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI',
       'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI',
       'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI',
       'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE',
       'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')
57

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0,0,0,0,0

In [114]:
len(adj)

10

In [115]:
adj

                          # of na's  percent_null
AMT_ANNUITY                      12          0.00
AMT_GOODS_PRICE                 278          0.09
NAME_TYPE_SUITE                1292          0.42
CNT_FAM_MEMBERS                   2          0.00
EXT_SOURCE_2                    660          0.21
OBS_30_CNT_SOCIAL_CIRCLE       1021          0.33
DEF_30_CNT_SOCIAL_CIRCLE       1021          0.33
OBS_60_CNT_SOCIAL_CIRCLE       1021          0.33
DEF_60_CNT_SOCIAL_CIRCLE       1021          0.33
DAYS_LAST_PHONE_CHANGE            1          0.00

In [116]:
new_df.AMT_GOODS_PRICE

0          351000.0
1         1129500.0
2          135000.0
3          297000.0
4          513000.0
            ...
307506     225000.0
307507     225000.0
307508     585000.0
307509     319500.0
307510     675000.0
Name: AMT_GOODS_PRICE, Length: 307511, dtype: float64

In [117]:
new_df.describe().T

,count,mean,std,min,25%,50%,75%,max
SK_ID_CURR,307511.0,278180.518577,102790.175348,1.000020e+05,189145.500000,278202.000000,367142.500000,4.562550e+05
TARGET,307511.0,0.080729,0.272419,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
CNT_CHILDREN,307511.0,0.417052,0.722121,0.000000e+00,0.000000,0.000000,1.000000,1.900000e+01
AMT_INCOME_TOTAL,307511.0,168797.919297,237123.146279,2.565000e+04,112500.000000,147150.000000,202500.000000,1.170000e+08
AMT_CREDIT,307511.0,599025.999706,402490.776996,4.500000e+04,270000.000000,513531.000000,808650.000000,4.050000e+06
AMT_ANNUITY,307499.0,27108.573909,14493.737315,1.615500e+03,16524.000000,24903.000000,34596.000000,2.580255e+05
AMT_GOODS_PRICE,307233.0,538396.207429,369446.460540,4.050000e+04,238500.000000,450000.000000,679500.000000,4.050000e+06
REGION_POPULATION_RELATIVE,307511.0,0.020868,0.013831,2.900000e-04,0.010006,0.018850,0.028663,7.250800e-02
DAYS_BIRTH,307511.0,-16036.995067,4363.988632,-2.522900e+04,-19682.000000,-15750.000000,-12413.000000,-7.489000e+03
DAYS_EMPLOYED,307511.0,63815.045904,141275.766519,-1.791200e+04,-2760.000000,-1213.000000,-289.000000,3.652430e+05
DAYS_REGISTRATION,307511.0,-4986.120328,3522.886321,-2.467200e+04,-7479.500000,-4504.000000,-2010.000000,0.000000e+00
DAYS_ID_PUBLISH,307511.0,-2994.202373,1509.450419,-7.197000e+03,-4299.000000,-3254.000000,-1720.000000,0.000000e+00
FLAG_MOBIL,307511.0,0.999997,0.001803,0.000000e+00,1.000000,1.000000,1.000000,1.000000e+00
FLAG_EMP_PHONE,307511.0,0.819889,0.384280,0.000000e+00,1.000000,1.000000,1.000000,1.000000e+00
FLAG_WORK_PHONE,307511.0,0.199368,0.399526,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_CONT_MOBILE,307511.0,0.998133,0.043164,0.000000e+00,1.000000,1.000000,1.000000,1.000000e+00
FLAG_PHONE,307511.0,0.281066,0.449521,0.000000e+00,0.000000,0.000000,1.000000,1.000000e+00
FLAG_EMAIL,307511.0,0.056720,0.231307,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
CNT_FAM_MEMBERS,307509.0,2.152665,0.910682,1.000000e+00,2.000000,2.000000,3.000000,2.000000e+01
REGION_RATING_CLIENT,307511.0,2.052463,0.509034,1.000000e+00,2.000000,2.000000,2.000000,3.000000e+00
REGION_RATING_CLIENT_W_CITY,307511.0,2.031521,0.502737,1.000000e+00,2.000000,2.000000,2.000000,3.000000e+00
HOUR_APPR_PROCESS_START,307511.0,12.063419,3.265832,0.000000e+00,10.000000,12.000000,14.000000,2.300000e+01
REG_REGION_NOT_LIVE_REGION,307511.0,0.015144,0.122126,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
REG_REGION_NOT_WORK_REGION,307511.0,0.050769,0.219526,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
LIVE_REGION_NOT_WORK_REGION,307511.0,0.040659,0.197499,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
REG_CITY_NOT_LIVE_CITY,307511.0,0.078173,0.268444,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
REG_CITY_NOT_WORK_CITY,307511.0,0.230454,0.421124,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
LIVE_CITY_NOT_WORK_CITY,307511.0,0.179555,0.383817,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
EXT_SOURCE_2,306851.0,0.514393,0.191060,8.173617e-08,0.392457,0.565961,0.663617,8.549997e-01
OBS_30_CNT_SOCIAL_CIRCLE,306490.0,1.422245,2.400989,0.000000e+00,0.000000,0.000000,2.000000,3.480000e+02
DEF_30_CNT_SOCIAL_CIRCLE,306490.0,0.143421,0.446698,0.000000e+00,0.000000,0.000000,0.000000,3.400000e+01
OBS_60_CNT_SOCIAL_CIRCLE,306490.0,1.405292,2.379803,0.000000e+00,0.000000,0.000000,2.000000,3.440000e+02
DEF_60_CNT_SOCIAL_CIRCLE,306490.0,0.100049,0.362291,0.000000e+00,0.000000,0.000000,0.000000,2.400000e+01
DAYS_LAST_PHONE_CHANGE,307510.0,-962.858788,826.808487,-4.292000e+03,-1570.000000,-757.000000,-274.000000,0.000000e+00
FLAG_DOCUMENT_2,307511.0,0.000042,0.006502,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_3,307511.0,0.710023,0.453752,0.000000e+00,0.000000,1.000000,1.000000,1.000000e+00
FLAG_DOCUMENT_4,307511.0,0.000081,0.009016,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_5,307511.0,0.015115,0.122010,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_6,307511.0,0.088055,0.283376,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_7,307511.0,0.000192,0.013850,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_8,307511.0,0.081376,0.273412,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_9,307511.0,0.003896,0.062295,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_10,307511.0,0.000023,0.004771,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_11,307511.0,0.003912,0.062424,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_12,307511.0,0.000007,0.002550,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_13,307511.0,0.003525,0.059268,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_14,307511.0,0.002936,0.054110,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_15,307511.0,0.001210,0.034760,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_16,307511.0,0.009928,0.099144,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_17,307511.0,0.000267,0.016327,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_18,307511.0,0.008130,0.089798,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_19,307511.0,0.000595,0.024387,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_20,307511.0,0.000507,0.022518,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_21,307511.0,0.000335,0.018299,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00

In [118]:
new_df[adj.index].describe().T

,count,mean,std,min,25%,50%,75%,max
AMT_ANNUITY,307499.0,27108.573909,14493.737315,1.615500e+03,16524.000000,24903.000000,34596.000000,258025.500
AMT_GOODS_PRICE,307233.0,538396.207429,369446.460540,4.050000e+04,238500.000000,450000.000000,679500.000000,4050000.000
CNT_FAM_MEMBERS,307509.0,2.152665,0.910682,1.000000e+00,2.000000,2.000000,3.000000,20.000
EXT_SOURCE_2,306851.0,0.514393,0.191060,8.173617e-08,0.392457,0.565961,0.663617,0.855
OBS_30_CNT_SOCIAL_CIRCLE,306490.0,1.422245,2.400989,0.000000e+00,0.000000,0.000000,2.000000,348.000
DEF_30_CNT_SOCIAL_CIRCLE,306490.0,0.143421,0.446698,0.000000e+00,0.000000,0.000000,0.000000,34.000
OBS_60_CNT_SOCIAL_CIRCLE,306490.0,1.405292,2.379803,0.000000e+00,0.000000,0.000000,2.000000,344.000
DEF_60_CNT_SOCIAL_CIRCLE,306490.0,0.100049,0.362291,0.000000e+00,0.000000,0.000000,0.000000,24.000
DAYS_LAST_PHONE_CHANGE,307510.0,-962.858788,826.808487,-4.292000e+03,-1570.000000,-757.000000,-274.000000,0.000

In [119]:
#values doesnt make sense
new_df = new_df.drop('DAYS_LAST_PHONE_CHANGE', axis=1)

In [120]:
adj.drop(adj.tail(1).index,
        inplace = True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [121]:
adj

                          # of na's  percent_null
AMT_ANNUITY                      12          0.00
AMT_GOODS_PRICE                 278          0.09
NAME_TYPE_SUITE                1292          0.42
CNT_FAM_MEMBERS                   2          0.00
EXT_SOURCE_2                    660          0.21
OBS_30_CNT_SOCIAL_CIRCLE       1021          0.33
DEF_30_CNT_SOCIAL_CIRCLE       1021          0.33
OBS_60_CNT_SOCIAL_CIRCLE       1021          0.33
DEF_60_CNT_SOCIAL_CIRCLE       1021          0.33

In [122]:
new_df[adj.index].corr()

,AMT_ANNUITY,AMT_GOODS_PRICE,CNT_FAM_MEMBERS,EXT_SOURCE_2,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE
AMT_ANNUITY,1.000000,0.775109,0.075539,0.125804,-0.011987,-0.022833,-0.011731,-0.024001
AMT_GOODS_PRICE,0.775109,1.000000,0.061185,0.139367,0.000328,-0.022244,0.000347,-0.024506
CNT_FAM_MEMBERS,0.075539,0.061185,1.000000,-0.001823,0.025318,-0.002654,0.024971,-0.004749
EXT_SOURCE_2,0.125804,0.139367,-0.001823,1.000000,-0.019235,-0.030406,-0.018878,-0.032340
OBS_30_CNT_SOCIAL_CIRCLE,-0.011987,0.000328,0.025318,-0.019235,1.000000,0.329338,0.998490,0.253499
DEF_30_CNT_SOCIAL_CIRCLE,-0.022833,-0.022244,-0.002654,-0.030406,0.329338,1.000000,0.331571,0.860517
OBS_60_CNT_SOCIAL_CIRCLE,-0.011731,0.000347,0.024971,-0.018878,0.998490,0.331571,1.000000,0.255570
DEF_60_CNT_SOCIAL_CIRCLE,-0.024001,-0.024506,-0.004749,-0.032340,0.253499,0.860517,0.255570,1.000000

In [123]:
new_df.AMT_ANNUITY.median()

24903.0

In [124]:
new_df[adj.index].dtypes

AMT_ANNUITY                 float64
AMT_GOODS_PRICE             float64
NAME_TYPE_SUITE              object
CNT_FAM_MEMBERS             float64
EXT_SOURCE_2                float64
OBS_30_CNT_SOCIAL_CIRCLE    float64
DEF_30_CNT_SOCIAL_CIRCLE    float64
OBS_60_CNT_SOCIAL_CIRCLE    float64
DEF_60_CNT_SOCIAL_CIRCLE    float64
dtype: object

In [125]:
#new_df['NAME_TYPE_SUITE'].value_counts().iloc[0]
new_df['NAME_TYPE_SUITE'].value_counts()

Unaccompanied      248526
Family              40149
Spouse, partner     11370
Children             3267
Other_B              1770
Other_A               866
Group of people       271
Name: NAME_TYPE_SUITE, dtype: int64

In [126]:
def fill_mid(col, df):
    for c in col:
        print("type1", new_df[c].dtype==object)


        if new_df[c].dtypes == object:
            freq = new_df[c].value_counts().index[0]
            num = new_df[c].value_counts().iloc[0]
            print("freq", freq)
            
            print("nas",new_df[c].isna().sum())
            print("num", num)
            df[[c]] = df[[c]].fillna(freq)
            
            num = new_df[c].value_counts()[0]

            print("num", num)




        
        else:    
            print(c)
            mid = new_df[c].median()
            print(mid)
            df[[c]] = df[[c]].fillna(mid)
    return df


new_df = fill_mid(adj.index, new_df)

type1 False
AMT_ANNUITY
24903.0
type1 False
AMT_GOODS_PRICE
450000.0
type1 True
freq Unaccompanied
nas 1292
num 248526
num 249818
type1 False
CNT_FAM_MEMBERS
2.0
type1 False
EXT_SOURCE_2
0.5659614260608526
type1 False
OBS_30_CNT_SOCIAL_CIRCLE
0.0
type1 False
DEF_30_CNT_SOCIAL_CIRCLE
0.0
type1 False
OBS_60_CNT_SOCIAL_CIRCLE
0.0
type1 False
DEF_60_CNT_SOCIAL_CIRCLE
0.0

In [127]:
new_df.isna().sum().sum()

0

In [128]:
pd.get_option("display.max_columns")

20

In [129]:
import matplotlib.pyplot as plt
%matplotlib inline

In [130]:
np.unique(df.TARGET)

array([0, 1])

In [131]:
t_p = df.TARGET.value_counts()

In [132]:
t_p/new_df.shape[0]

0    0.919271
1    0.080729
Name: TARGET, dtype: float64

In [133]:
dtype_df = new_df.dtypes.reset_index()

dtype_df.head()

                index       0
0          SK_ID_CURR   int64
1              TARGET   int64
2  NAME_CONTRACT_TYPE  object
3         CODE_GENDER  object
4        FLAG_OWN_CAR  object

In [134]:
types = dtype_df.columns = ["Count", "Column Type"]
dtype_df.head()

                Count Column Type
0          SK_ID_CURR       int64
1              TARGET       int64
2  NAME_CONTRACT_TYPE      object
3         CODE_GENDER      object
4        FLAG_OWN_CAR      object

In [135]:
dtype_df.groupby("Column Type").aggregate('count').reset_index()

  Column Type  Count
0       int64     41
1     float64     12
2      object     11

In [136]:
#dealing with objects
numerics= ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
objects = ['O']
numeric = new_df.select_dtypes(include=numerics)
cat = new_df.select_dtypes(include=objects)

In [137]:
new_df[numeric.columns].corr()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
SK_ID_CURR,1.000000,-0.002108,-0.001129,-0.001820,-0.000343,-0.000431,-0.000258,0.000849,-0.001500,0.001366,...,-0.001045,0.000896,-0.001077,0.002604,-0.000724,0.001450,0.000509,0.000167,0.001073,0.000282
TARGET,-0.002108,1.000000,0.019187,-0.003982,-0.030369,-0.012815,-0.039623,-0.037227,0.078239,-0.044932,...,-0.000756,-0.011583,-0.009464,-0.006536,-0.011615,-0.003378,-0.007952,-0.001358,0.000215,0.003709
CNT_CHILDREN,-0.001129,0.019187,1.000000,0.012882,0.002145,0.021377,-0.001856,-0.025573,0.330938,-0.239818,...,0.000293,0.003945,-0.005459,0.003609,0.010662,0.000773,0.004031,0.000864,0.000988,-0.002450
AMT_INCOME_TOTAL,-0.001820,-0.003982,0.012882,1.000000,0.156870,0.191657,0.159632,0.074796,0.027261,-0.064223,...,0.002540,0.022747,0.020708,0.010793,0.007269,0.002230,0.003130,0.002408,0.000242,-0.000589
AMT_CREDIT,-0.000343,-0.030369,0.002145,0.156870,1.000000,0.770127,0.986734,0.099738,-0.055436,-0.066838,...,0.003857,0.052429,0.048828,0.032252,0.061925,0.011743,0.034329,0.021082,0.031023,-0.016148
AMT_ANNUITY,-0.000431,-0.012815,0.021377,0.191657,0.770127,1.000000,0.774837,0.118418,0.009443,-0.104329,...,0.000847,0.025116,0.036857,0.016125,0.007199,0.003191,-0.009744,0.004573,0.011718,-0.017598
AMT_GOODS_PRICE,-0.000258,-0.039623,-0.001856,0.159632,0.986734,0.774837,1.000000,0.103519,-0.053510,-0.064767,...,0.004067,0.052369,0.048760,0.032939,0.058325,0.012142,0.032767,0.020284,0.031644,-0.014426
REGION_POPULATION_RELATIVE,0.000849,-0.037227,-0.025573,0.074796,0.099738,0.118418,0.103519,1.000000,-0.029582,-0.003980,...,-0.000404,0.031186,0.032202,0.009446,0.006313,0.007414,0.013367,0.002364,-0.000045,0.003437
DAYS_BIRTH,-0.001500,0.078239,0.330938,0.027261,-0.055436,0.009443,-0.053510,-0.029582,1.000000,-0.615864,...,0.000236,0.026333,0.030733,0.012953,0.024044,0.007877,0.044498,0.003614,0.009015,0.027282
DAYS_EMPLOYED,0.001366,-0.044932,-0.239818,-0.064223,-0.066838,-0.104329,-0.064767,-0.003980,-0.615864,1.000000,...,-0.001225,-0.025778,-0.023383,-0.014285,-0.042905,-0.007187,-0.040396,-0.010040,-0.010135,-0.008396
DAYS_REGISTRATION,-0.000973,0.041975,0.183395,0.027805,0.009621,0.038514,0.011546,-0.053820,0.331912,-0.210242,...,0.001682,0.015470,0.011636,0.008195,0.025935,0.002102,0.017040,0.004764,0.006971,0.003859
DAYS_ID_PUBLISH,-0.000384,0.051457,-0.028019,0.008506,-0.006575,0.011267,-0.009289,-0.003993,0.272691,-0.272378,...,-0.002193,0.003048,0.008710,0.000158,0.002782,0.004804,0.014084,0.000903,0.000070,0.017246
FLAG_MOBIL,0.002804,0.000534,0.001041,0.000325,0.001436,0.000149,0.001398,0.001333,-0.003084,0.000818,...,0.000005,0.000107,0.000098,0.000063,0.000181,0.000029,-0.019919,0.000044,0.000041,0.000033
FLAG_EMP_PHONE,-0.001337,0.045982,0.240714,0.063994,0.065519,0.103530,0.063412,0.004045,0.619888,-0.999755,...,0.001195,0.025878,0.023559,0.014364,0.043008,0.007136,0.040548,0.010049,0.010183,0.008579
FLAG_WORK_PHONE,-0.000415,0.028524,0.055630,-0.017193,-0.021085,-0.024805,0.000787,-0.015628,0.172457,-0.233972,...,-0.001273,0.001769,-0.002712,0.007689,0.005692,0.001322,0.032049,0.011854,0.001771,0.001541
FLAG_CONT_MOBILE,0.002815,0.000370,-0.000794,-0.008290,0.023653,0.022349,0.020696,-0.012478,-0.014985,0.012745,...,0.000110,-0.064800,-0.072839,-0.013667,-0.030625,-0.013136,-0.043068,-0.005123,0.000974,-0.015677
FLAG_PHONE,0.002753,-0.023806,-0.029906,0.000159,0.026213,0.010799,0.041921,0.090939,-0.042402,0.015291,...,-0.001595,0.006997,0.010321,0.008001,0.010354,0.004410,0.004055,0.009660,0.000692,0.000020
FLAG_EMAIL,0.000281,-0.001758,0.022619,0.038378,0.016632,0.071707,0.017031,0.040012,0.088208,-0.062112,...,-0.000625,-0.003436,0.001502,-0.003276,-0.012644,-0.001422,-0.008110,-0.002525,-0.001778,-0.000647
CNT_FAM_MEMBERS,-0.002895,0.009308,0.879160,0.016341,0.063160,0.075541,0.061138,-0.024209,0.278892,-0.233549,...,0.000973,0.005273,-0.010417,0.003720,0.009686,0.000761,0.001485,0.002205,0.000188,-0.005801
REGION_RATING_CLIENT,-0.001075,0.058899,0.025423,-0.085465,-0.101776,-0.128516,-0.103759,-0.532877,0.009361,0.032750,...,-0.000263,-0.032431,-0.038179,-0.009284,-0.005424,-0.004422,-0.012532,-0.001205,0.002217,-0.001887
REGION_RATING_CLIENT_W_CITY,-0.001138,0.060893,0.024781,-0.091735,-0.110915,-0.141674,-0.112185,-0.531535,0.008073,0.034624,...,-0.000160,-0.032760,-0.037711,-0.009253,-0.005430,-0.004193,-0.013672,-0.001530,0.002609,-0.001501
HOUR_APPR_PROCESS_START,0.000350,-0.024166,-0.007292,0.036459,0.052738,0.052265,0.062269,0.171285,0.091064,-0.091138,...,0.003465,0.023929,0.021618,0.009465,0.019066,0.005233,0.021584,0.002507,0.003277,0.003998
REG_REGION_NOT_LIVE_REGION,-0.000283,0.005576,-0.013319,0.031191,0.024010,0.041291,0.026119,0.002118,0.065486,-0.035803,...,-0.000316,0.003407,0.002128,-0.002017,-0.006509,0.004498,0.008344,-0.001934,-0.002794,0.005006
REG_REGION_NOT_WORK_REGION,0.001097,0.006942,0.008185,0.062340,0.051929,0.079403,0.053146,0.056944,0.095819,-0.107150,...,-0.000590,0.012489,0.013183,0.002606,0.000897,0.001667,0.007436,0.001038,-0.001263,-0.000995
LIVE_REGION_NOT_WORK_REGION,0.002903,0.002819,0.014835,0.058059,0.052609,0.074530,0.052829,0.081016,0.069567,-0.095539,...,-0.000525,0.016093,0.013780,0.003730,0.004296,-0.001345,0.004282,0.003078,-0.000251,-0.001969
REG_CITY_NOT_LIVE_CITY,-0.001885,0.044395,0.020072,0.003574,-0.026886,-0.006217,-0.027206,-0.050499,0.180382,-0.090516,...,-0.000743,0.000258,-0.004162,-0.002468,-0.012666,-0.001046,0.013432,-0.005119,-0.001181,0.002614
REG_CITY_NOT_WORK_CITY,-0.001582,0.050994,0.070650,0.006431,-0.018856,0.000894,-0.020348,-0.044057,0.242401,-0.254559,...,-0.001396,-0.000887,-0.005580,-0.001495,-0.004095,0.001467,0.013919,-0.003854,0.000703,0.003487
LIVE_CITY_NOT_WORK_CITY,0.000067,0.032518,0.069957,0.008285,0.000081,0.010080,-0.001334,-0.015188,0.158882,-0.218101,...,-0.001193,-0.000949,-0.004876,0.000294,0.003061,0.001181,0.006332,-0.002035,0.001877,0.004401
EXT_SOURCE_2,0.002319,-0.160295,-0.017990,0.060855,0.130930,0.125509,0.138997,0.198725,-0.091947,-0.020652,...,0.002186,0.023757,0.020993,0.008397,0.012984,0.002584,0.001849,0.003242,0.000600,-0.007246
OBS_30_CNT_SOCIAL_CIRCLE,-0.001413,0.009447,0.015662,-0.013495,0.000895,-0.011352,0.000788,-0.012021,0.007280,0.005781,...,-0.000444,-0.002782,-0.003609,-0.000988,0.004627,-0.001431,0.003491,0.000978,0.000474,-0.000667
DEF_30_CNT_SOCIAL_CIRCLE,-0.000085,0.032394,-0.001205,-0.013454,-0.020811,-0.022445,-0.021949,0.005817,0.000136,0.016720,...,-0.000817,-0.007621,-0.004727,-0.003183,-0.004516,-0.001215,-0.000922,-0.003336,0.000227,-0.000687
OBS_60_CNT_SOCIAL_CIRCLE,-0.001427,0.009337,0.015302,-0.013411,0.000942,-0.011099,0.000806,-0.011498,0.006878,0.005934,...,-0.000430,-0.002868,-0.003533,-0.000985,0.004427,-0.001328,0.003434,0.001048,0.000395,-0.000618
DEF_60_CNT_SOCIAL_CIRCLE,0.001182,0.031401,-0.001811,-0.013314,-0.023399,-0.023655,-0.024245,0.001974,0.001861,0.014215,...,-0.000703,-0.007902,-0.003829,-0.004162,-0.005843,-0.000648,-0.003233,-0.003040,0.000177,0.000358
FLAG_DOCUMENT_2,0.000700,0.005417,0.001786,-0.001000,0.008905,0.003397,0.010775,-0.003040,-0.001191,-0.003090,...,-0.000017,-0.000387,-0.000353,-0.000226,-0.000651,-0.000106,-0.000589,-0.000159,-0.000146,-0.000119
FLAG_DOCUMENT_3,-0.003411,0.044346,0.056837,-0.016751,0.096365,0.102842,0.075040,-0.084644,0.109666,-0.249082,...,-0.001180,-0.020274,0.002099,0.000592,0.033418,0.002536,0.007976,0.009423,0.007396,-0.025510
FLAG_DOCUMENT_4,-0.004139,-0.002672,-0.003709,0.000529,0.000630,0.001109,0.001115,0.008102,-0.002789,0.000437,...,-0.000023,-0.000536,-0.000489,-0.000314,-0.000903,-0.000147,-0.000816,-0.000220,-0.000203,-0.000165
FLAG_DOCUMENT_5,-0.001097,-0.000316,-0.016737,0.001507,-0.011756,-0.006661,-0.005995,0.016032,0.016774,-0.020041,...,-0.000316,-0.007368,-0.006723,-0.004311,-0.012137,-0.002023,-0.010622,-0.003023,-0.002791,0.000645
FLAG_DOCUMENT_6,0.002121,-0.028602,-0.157024,-0.045878,-0.046717,-0.073895,-0.050169,0.000728,-0.407160,0.597484,...,-0.000792,-0.017514,-0.014318,-0.009824,-0.026603,-0.004372,-0.023915,-0.004759,-0.005981,-0.005688
FLAG_DOCUMENT_7,-0.002694,-0.001520,-0.001498,0.003825,-0.004040,-0.002272,-0.000724,0.002436,0.001469,-0.002221,...,-0.000035,-0.000824,-0.000752,-0.000482,-0.001387,-0.000226,-0.001254,-0.000338,-0.000312,-0.000254
FLAG_DOCUMENT_8,0.001809,-0.008040,0.051697,0.072451,0.082819,0.130577,0.080511,0.088523,0.113243,-0.121571,...,0.003905,0.077019,0.030228,0.023517,0.012783,0.005338,0.007756,0.000053,0.003859,-0.001548
FLAG_DOCUMENT_9,0.001505,-0.004352,-0.001997,0.018389,0.022602,0.033692,0.022477,0.038434,0.018213,-0.023834,...,-0.000159,0.000684,0.001430,0.002329,0.008480,0.008570,0.001895,-0.001526,-0.001409,-0.001145
FLAG_DOCUMENT_10,-0.000815,-0.001414,-0.002756,0.000290,-0.003100,-0.003369,-0.002138,0.001992,-0.000168,-0.000439,...,-0.000012,-0.000284,-0.000259,-0.000166,-0.000478,-0.000078,-0.000432,-0.000116,-0.000107,-0.000087
FLAG_DOCUMENT_11,-0.002012,-0.004229,-0.005318,0.002315,0.028986,-0.003668,0.035137,0.024632,0.044716,-0.028915,...,-0.000160,-0.003727,-0.003401,-0.002181,-0.006276,-0.001024,-0.005674,-0.001529,-0.001412,-0.001147
FLAG_DOCUMENT_12,-0.001045,-0.000756,0.000293,0.002540,0.003857,0.000847,0.004067,-0.000404,0.000236,-0.001225,...,1.000000,-0.000152,-0.000138,-0.000089,-0.000255,-0.000042,-0.000231,-0.000062,-0.000057,-0.000047
FLAG_DOCUMENT_13,0.000896,-0.011583,0.003945,0.022747,0.052429,0.025116,0.052369,0.031186,0.026333,-0.025778,...,-0.000152,1.000000,-0.003228,-0.002070,-0.005956,-0.000971,-0.005385,-0.001451,0.042520,0.004908
FLAG_DOCUMENT_14,-0.001077,-0.009464,-0.005459,0.020708,0.048828,0.036857,0.048760,0.032202,0.030733,-0.023383,...,-0.000138,-0.003228,1.000000,-0.001889,-0.005434,-0.000886,-0.004913,-0.001324,0.030805,0.002291
FLAG_DOCUMENT_15,0.002604,-0.006536,0.003609,0.010793,0.032252,0.016125,0.032939,0.009446,0.012953,-0.014285,...,-0.000089,-0.002070,-0.001889,1.000000,-0.003485,-0.000568,-0.003151,-0.000849,0.028299,-0.000637
FLAG_DOCUMENT_16,-0.000724,-0.011615,0.010662,0.007269,0.061925,0.007199,0.058325,0.006313,0.024044,-0.042905,...,-0.000255,-0.005956,-0.005434,-0.003485,1.000000,-0.001635,-0.009066,-0.002444,0.082229,0.003544
FLAG_DOCUMENT_17,0.001450,-0.003378,0.000773,0.002230,0.011743,0.003191,0.012142,0.007414,0.007877,-0.007187,...,-0.000042,-0.000971,-0.000886,-0.000568,-0.001635,1.000000,-0.001479,-0.000399,0.026167,-0.000299
FLAG_DOCUMENT_18,0.000509,-0.007952,0.004031,0.003130,0.034329,-0.009744,0.032767,0.013367,0.044498,-0.040396,...,-0.000231,-0.005385,-0.004913,-0.003151,-0.009066,-0.001479,1.000000,-0.002209,0.081589,0.006259
FLAG_DOCUMENT_19,0.000167,-0.001358,0.000864,0.002408,0.021082,0.004573,0.020284,0.002364,0.003614,-0.010040,...,-0.000062,-0.001451,-0.001324,-0.000849,-0.002444,-0.000399,-0.002209,1.000000,0.034981,-0.000447
FLAG_DOCUMENT_20,0.001073,0.000215,0.000988,0.000242,0.031023,0.011718,0.031644,-0.000045,0.009015,-0.010135,...,-0.000057,0.042520,0.030805,0.028299,0.082229,0.026167,0.081589,0.034981,1.000000,0.007480
FLAG_DOCUMENT_21,0.000282,0.003709,-0.002450,-0.000589,-0.016148,-0.017598,-0.014426,0.003437,0.027282,-0.008396,...,-0.000047,0.004908,0.002291,-0.000637,0.003544,-0.000299,0.006259,-0.000447,0.007480,1.000000

In [138]:
#import seaborn as sns
#ax = sns.heatmap(new_df[numeric.columns], center=0)

In [139]:
print("objects: ", cat.columns)
print("numeric: ",numeric.columns)

objects:  Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'WEEKDAY_APPR_PROCESS_START',
       'ORGANIZATION_TYPE'],
      dtype='object')
numeric:  Index(['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE',
       'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL',
       'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'EXT_SOURCE_2',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4',
       'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7',
       'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10',
       'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13',
       'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16',
       'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19',
       'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21'],
      dtype='object')

In [140]:
f= ['float16', 'float32', 'float64']
floats = new_df.select_dtypes(include=f)
print(floats.columns)

Index(['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'DAYS_REGISTRATION', 'CNT_FAM_MEMBERS',
       'EXT_SOURCE_2', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE'],
      dtype='object')

In [141]:
new_df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,0,0,0,0,0,0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,0,0,0,0,0,0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,0,0,0,0,0,0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0,0,0,0,0,0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0,0,0,0,0,0

In [142]:
f = list((floats.columns))
f.append('SK_ID_CURR')

In [143]:
from sklearn.preprocessing import StandardScaler, RobustScaler


scaler = StandardScaler()

scaled = scaler.fit_transform(new_df[f])

In [144]:
scaled

array([[ 0.14212925, -0.47809496, -0.16614332, ...,  0.25213215,
         5.25326045, -1.73342255],
       [ 0.42679193,  1.7254498 ,  0.59268287, ..., -0.16852721,
        -0.27566317, -1.73341283],
       [-0.4271961 , -1.15288792, -1.40466938, ..., -0.58918656,
        -0.27566317, -1.7334031 ],
       ...,
       [-0.06662338,  0.19537871,  0.19805599, ...,  1.93476957,
        -0.27566317,  1.73239096],
       [ 0.00928667, -0.56875681, -0.47631818, ..., -0.58918656,
        -0.27566317,  1.73240069],
       [-0.04764587,  0.18875991,  1.51855018, ..., -0.58918656,
        -0.27566317,  1.73241042]])

In [145]:
new_df[f] = scaled

In [146]:
new_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,-1.733423,1,Cash loans,M,N,Y,0,0.142129,-0.478095,-0.166143,...,0,0,0,0,0,0,0,0,0,0
1,-1.733413,0,Cash loans,F,N,N,0,0.426792,1.725450,0.592683,...,0,0,0,0,0,0,0,0,0,0
2,-1.733403,0,Revolving loans,M,Y,Y,0,-0.427196,-1.152888,-1.404669,...,0,0,0,0,0,0,0,0,0,0
3,-1.733384,0,Cash loans,F,N,Y,0,-0.142533,-0.711430,0.177874,...,0,0,0,0,0,0,0,0,0,0
4,-1.733374,0,Cash loans,M,N,Y,0,-0.199466,-0.213734,-0.361749,...,0,0,0,0,0,0,0,0,0,0

In [147]:
for col_name in cat:
    print('The unique values in '+col_name+' are: ', cat[col_name].nunique())
    print(cat[col_name].unique())

The unique values in NAME_CONTRACT_TYPE are:  2
['Cash loans' 'Revolving loans']
The unique values in CODE_GENDER are:  3
['M' 'F' 'XNA']
The unique values in FLAG_OWN_CAR are:  2
['N' 'Y']
The unique values in FLAG_OWN_REALTY are:  2
['Y' 'N']
The unique values in NAME_TYPE_SUITE are:  7
['Unaccompanied' 'Family' 'Spouse, partner' 'Children' 'Other_A' 'Other_B'
 'Group of people']
The unique values in NAME_INCOME_TYPE are:  8
['Working' 'State servant' 'Commercial associate' 'Pensioner' 'Unemployed'
 'Student' 'Businessman' 'Maternity leave']
The unique values in NAME_EDUCATION_TYPE are:  5
['Secondary / secondary special' 'Higher education' 'Incomplete higher'
 'Lower secondary' 'Academic degree']
The unique values in NAME_FAMILY_STATUS are:  6
['Single / not married' 'Married' 'Civil marriage' 'Widow' 'Separated'
 'Unknown']
The unique values in NAME_HOUSING_TYPE are:  6
['House / apartment' 'Rented apartment' 'With parents'
 'Municipal apartment' 'Office apartment' 'Co-op apartment']
The unique values in WEEKDAY_APPR_PROCESS_START are:  7
['WEDNESDAY' 'MONDAY' 'THURSDAY' 'SUNDAY' 'SATURDAY' 'FRIDAY' 'TUESDAY']
The unique values in ORGANIZATION_TYPE are:  58
['Business Entity Type 3' 'School' 'Government' 'Religion' 'Other' 'XNA'
 'Electricity' 'Medicine' 'Business Entity Type 2' 'Self-employed'
 'Transport: type 2' 'Construction' 'Housing' 'Kindergarten'
 'Trade: type 7' 'Industry: type 11' 'Military' 'Services'
 'Security Ministries' 'Transport: type 4' 'Industry: type 1' 'Emergency'
 'Security' 'Trade: type 2' 'University' 'Transport: type 3' 'Police'
 'Business Entity Type 1' 'Postal' 'Industry: type 4' 'Agriculture'
 'Restaurant' 'Culture' 'Hotel' 'Industry: type 7' 'Trade: type 3'
 'Industry: type 3' 'Bank' 'Industry: type 9' 'Insurance' 'Trade: type 6'
 'Industry: type 2' 'Transport: type 1' 'Industry: type 12' 'Mobile'
 'Trade: type 1' 'Industry: type 5' 'Industry: type 10' 'Legal Services'
 'Advertising' 'Trade: type 5' 'Cleaning' 'Industry: type 13'
 'Trade: type 4' 'Telecom' 'Industry: type 8' 'Realtor' 'Industry: type 6']

In [148]:
datad = pd.get_dummies(new_df)
datad

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 6,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA
0,-1.733423,1,0,0.142129,-0.478095,-0.166143,-0.507236,-0.149452,-9461,-637,...,0,0,0,0,0,0,0,0,0,0
1,-1.733413,0,0,0.426792,1.725450,0.592683,1.600873,-1.252750,-16765,-1188,...,0,0,0,0,0,0,0,0,0,0
2,-1.733403,0,0,-0.427196,-1.152888,-1.404669,-1.092145,-0.783451,-19046,-225,...,0,0,0,0,0,0,0,0,0,0
3,-1.733384,0,0,-0.142533,-0.711430,0.177874,-0.653463,-0.928991,-19005,-3039,...,0,0,0,0,0,0,0,0,0,0
4,-1.733374,0,0,-0.199466,-0.213734,-0.361749,-0.068554,0.563570,-19932,-3038,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,1.732372,0,0,-0.047646,-0.855489,0.031015,-0.848433,0.845396,-9327,-236,...,0,0,0,0,0,0,0,0,0,0
307507,1.732381,0,0,-0.408219,-0.818594,-1.042333,-0.848433,0.310593,-20775,365243,...,0,0,0,0,0,0,0,0,0,1
307508,1.732391,0,0,-0.066623,0.195379,0.198056,0.126415,-1.147120,-14966,-7921,...,0,0,0,0,0,0,0,0,0,0
307509,1.732401,1,0,0.009287,-0.568757,-0.476318,-0.592535,-1.124635,-11961,-4786,...,0,0,0,0,0,0,0,0,0,0
307510,1.732410,0,0,-0.047646,0.188760,1.518550,0.370127,1.832942,-16856,-1262,...,0,0,0,0,0,0,0,0,0,0

In [149]:
datad.isna().sum().sum()

0

In [150]:
datad.shape

(307511, 159)

#### X & y

In [166]:
X = datad.drop(['TARGET'], axis = 1).values
y = datad['TARGET'].values

In [167]:
print("X: ", X.shape)
print("y: ", y.shape)

X:  (307511, 158)
y:  (307511,)

In [168]:
#tackling class imbalance:
#!pip install -U imbalanced-learn

In [204]:
import imblearn
from imblearn.over_sampling import RandomOverSampler
print(imblearn.__version__)

0.8.0

In [205]:
ros = RandomOverSampler(random_state=0)
x_resampled, y_resampled = ros.fit_resample(X,y)

In [207]:
print('After oversampling:')
print("X: ", x_resampled.shape)
print("y: ", y_resampled.shape)

After oversampling:
X:  (565372, 158)
y:  (565372,)

In [157]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
import tensorflow as tf

from tensorflow.keras import layers
from tensorflow.keras import regularizers

import tensorflow_docs as tfdocs
import tensorflow_docs.modeling
import tensorflow_docs.plots

In [84]:
#y = pd.DataFrame(y)

In [211]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

#### Using oversampling

In [212]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(x_resampled, y_resampled, test_size=0.33, random_state=42)

In [213]:
rs = RobustScaler()
rs.fit(X_train)
X_train_over = rs.transform(X_train2)
X_test_over  = rs.transform(X_test2)

In [170]:
print(X.shape)

(307511, 158)

In [185]:
X_test.shape

(101479, 158)

In [177]:
y_train = y_train.reshape(-1,1)

In [186]:
rs = RobustScaler()
rs.fit(X_train)
X_train2 = rs.transform(X_train)
X_test_scaled  = rs.transform(X_test)

In [187]:
from sklearn.metrics import classification_report

In [188]:
model = Sequential()

model.add(Dense(256, input_dim = 158, activation = 'relu'))
model.add(Dropout(0.2)),
model.add(Dense(256,                   activation = 'elu'))
model.add(Dropout(0.3)),
model.add(Dense(128,                   activation = 'relu'))
model.add(Dense(64,                   activation = 'elu'))
model.add(Dropout(0.2)),
model.add(Dense(12,                   activation = 'relu'))
model.add(Dropout(0.1)),
model.add(Dense(8,                   activation = 'elu'))
model.add(Dense(4,                   activation = 'relu'))
model.add(Dense(1,                 activation='sigmoid'))

In [189]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 256)               40704
_________________________________________________________________
dropout_4 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_9 (Dense)              (None, 256)               65792
_________________________________________________________________
dropout_5 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_10 (Dense)             (None, 128)               32896
_________________________________________________________________
dense_11 (Dense)             (None, 64)                8256
_________________________________________________________________
dropout_6 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_12 (Dense)             (None, 12)                780
_________________________________________________________________
dropout_7 (Dropout)          (None, 12)                0
_________________________________________________________________
dense_13 (Dense)             (None, 8)                 104
_________________________________________________________________
dense_14 (Dense)             (None, 4)                 36
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 5
=================================================================
Total params: 148,573
Trainable params: 148,573
Non-trainable params: 0
_________________________________________________________________

In [89]:
#?class_weight.compute_class_weight

Object `class_weight.compute_class_weight` not found.

In [192]:
y

array([1, 0, 0, ..., 0, 1, 0])

In [193]:
from sklearn.utils import class_weight
class_weights = class_weight.compute_class_weight('balanced',
                                                 np.unique(y),y)
print(class_weights)

[0.54390914 6.19357503]

/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass classes=[0 1], y=[1 0 0 ... 0 1 0] as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)

In [194]:
class_weights={0: 0.54390914, 1: 6.19357503}

In [195]:
from keras.callbacks import EarlyStopping

In [196]:
# simple early stopping
es = EarlyStopping(monitor='val_loss', mode='min', verbose=1)

In [197]:
model.compile(loss='binary_crossentropy', 
              optimizer='adam', 
              metrics=['accuracy'])

X_train, X_test, y_train, y_test

In [214]:
%%time

# fit the keras model on the dataset
model.fit(X_train_over,
          y_train2,
          epochs = 25,
          batch_size = 250,
          class_weight=class_weights,
          validation_split= 0.3,
          verbose = 1,
          #callbacks=[es]
         )

Epoch 1/25
1061/1061 [==============================] - 6s 4ms/step - loss: 0.8534 - accuracy: 0.5029 - val_loss: 1.1021 - val_accuracy: 0.4994
Epoch 2/25
1061/1061 [==============================] - 5s 4ms/step - loss: 0.8060 - accuracy: 0.5021 - val_loss: 1.0860 - val_accuracy: 0.4996
Epoch 3/25
1061/1061 [==============================] - 4s 4ms/step - loss: 0.7835 - accuracy: 0.5347 - val_loss: 1.0679 - val_accuracy: 0.5417
Epoch 4/25
1061/1061 [==============================] - 4s 4ms/step - loss: 0.7639 - accuracy: 0.5701 - val_loss: 1.0566 - val_accuracy: 0.5615
Epoch 5/25
1061/1061 [==============================] - 5s 5ms/step - loss: 0.7473 - accuracy: 0.5870 - val_loss: 1.0406 - val_accuracy: 0.5703
Epoch 6/25
1061/1061 [==============================] - 5s 5ms/step - loss: 0.7327 - accuracy: 0.6003 - val_loss: 1.0627 - val_accuracy: 0.5727
Epoch 7/25
1061/1061 [==============================] - 4s 4ms/step - loss: 0.7206 - accuracy: 0.6095 - val_loss: 1.0487 - val_accuracy: 0.5765
Epoch 8/25
1061/1061 [==============================] - 5s 4ms/step - loss: 0.7119 - accuracy: 0.6162 - val_loss: 0.9843 - val_accuracy: 0.6006
Epoch 9/25
1061/1061 [==============================] - 5s 4ms/step - loss: 0.7004 - accuracy: 0.6206 - val_loss: 0.9550 - val_accuracy: 0.6069
Epoch 10/25
1061/1061 [==============================] - 5s 4ms/step - loss: 0.6933 - accuracy: 0.6305 - val_loss: 0.9954 - val_accuracy: 0.6015
Epoch 11/25
1061/1061 [==============================] - 5s 5ms/step - loss: 0.6865 - accuracy: 0.6315 - val_loss: 0.9456 - val_accuracy: 0.6025
Epoch 12/25
1061/1061 [==============================] - 5s 4ms/step - loss: 0.6795 - accuracy: 0.6367 - val_loss: 1.0349 - val_accuracy: 0.6003
Epoch 13/25
1061/1061 [==============================] - 5s 5ms/step - loss: 0.6768 - accuracy: 0.6399 - val_loss: 0.9393 - val_accuracy: 0.6101
Epoch 14/25
1061/1061 [==============================] - 5s 4ms/step - loss: 0.6736 - accuracy: 0.6441 - val_loss: 0.9601 - val_accuracy: 0.6173
Epoch 15/25
1061/1061 [==============================] - 5s 4ms/step - loss: 0.6657 - accuracy: 0.6482 - val_loss: 0.9633 - val_accuracy: 0.6067
Epoch 16/25
1061/1061 [==============================] - 5s 5ms/step - loss: 0.6599 - accuracy: 0.6503 - val_loss: 0.9570 - val_accuracy: 0.6063
Epoch 17/25
1061/1061 [==============================] - 5s 4ms/step - loss: 0.6572 - accuracy: 0.6534 - val_loss: 0.9292 - val_accuracy: 0.6201
Epoch 18/25
1061/1061 [==============================] - 5s 4ms/step - loss: 0.6515 - accuracy: 0.6578 - val_loss: 0.9508 - val_accuracy: 0.6211
Epoch 19/25
1061/1061 [==============================] - 5s 5ms/step - loss: 0.6512 - accuracy: 0.6584 - val_loss: 0.9260 - val_accuracy: 0.6137
Epoch 20/25
1061/1061 [==============================] - 4s 4ms/step - loss: 0.6471 - accuracy: 0.6600 - val_loss: 0.9275 - val_accuracy: 0.6271
Epoch 21/25
1061/1061 [==============================] - 4s 4ms/step - loss: 0.6432 - accuracy: 0.6615 - val_loss: 0.9587 - val_accuracy: 0.6346
Epoch 22/25
1061/1061 [==============================] - 4s 4ms/step - loss: 0.6408 - accuracy: 0.6645 - val_loss: 0.9467 - val_accuracy: 0.6249
Epoch 23/25
1061/1061 [==============================] - 5s 5ms/step - loss: 0.6363 - accuracy: 0.6645 - val_loss: 0.9547 - val_accuracy: 0.6328
Epoch 24/25
1061/1061 [==============================] - 5s 5ms/step - loss: 0.6346 - accuracy: 0.6641 - val_loss: 0.9502 - val_accuracy: 0.6262
Epoch 25/25
1061/1061 [==============================] - 5s 5ms/step - loss: 0.6352 - accuracy: 0.6678 - val_loss: 0.9251 - val_accuracy: 0.6236
CPU times: user 5min 27s, sys: 45.8 s, total: 6min 13s
Wall time: 1min 59s

In [ ]:
#?model.fit

In [215]:
# evaluate the keras model
_, accuracy = model.evaluate(X_test_over, y_test2)

print('Accuracy: %.2f' % (accuracy*100))

5831/5831 [==============================] - 7s 1ms/step - loss: 0.9299 - accuracy: 0.6229
Accuracy: 62.29

In [216]:
# make probability predictions with the model
from sklearn.metrics import f1_score

from sklearn.metrics import accuracy_score


predictions = model.predict(X_test_over)

# round predictions 
rounded = [round(x[0]) for x in predictions]

print("F1_SCORE {}".format(f1_score(y_test2, rounded)))
print("Accuracy {}".format(accuracy_score(y_test2, rounded)))

F1_SCORE 0.7258516971604899
Accuracy 0.6228607569155237

In [218]:
model2 = Sequential()

model2.add(Dense(512, input_dim = 158, activation = 'relu'))
model2.add(Dropout(0.15)),
model2.add(Dense(256,                   activation = 'relu'))
model2.add(Dropout(0.2)),
model2.add(Dense(256,                   activation = 'elu'))
model2.add(Dropout(0.3)),
model2.add(Dense(128,                   activation = 'relu'))
model2.add(Dense(64,                   activation = 'elu'))
model2.add(Dropout(0.2)),
model2.add(Dense(12,                   activation = 'relu'))
model2.add(Dropout(0.1)),
model2.add(Dense(8,                   activation = 'elu'))
model2.add(Dense(4,                   activation = 'relu'))
model2.add(Dense(1,                 activation='sigmoid'))

In [219]:
model2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_16 (Dense)             (None, 512)               81408
_________________________________________________________________
dropout_8 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_17 (Dense)             (None, 256)               131328
_________________________________________________________________
dropout_9 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_18 (Dense)             (None, 256)               65792
_________________________________________________________________
dropout_10 (Dropout)         (None, 256)               0
_________________________________________________________________
dense_19 (Dense)             (None, 128)               32896
_________________________________________________________________
dense_20 (Dense)             (None, 64)                8256
_________________________________________________________________
dropout_11 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_21 (Dense)             (None, 12)                780
_________________________________________________________________
dropout_12 (Dropout)         (None, 12)                0
_________________________________________________________________
dense_22 (Dense)             (None, 8)                 104
_________________________________________________________________
dense_23 (Dense)             (None, 4)                 36
_________________________________________________________________
dense_24 (Dense)             (None, 1)                 5
=================================================================
Total params: 320,605
Trainable params: 320,605
Non-trainable params: 0
_________________________________________________________________

In [220]:
model2.compile(loss='binary_crossentropy', 
              optimizer='adam', 
              metrics=['accuracy'])

In [222]:
#weighting imbalance classes

# fit the keras model on the dataset
model2.fit(X_train_over,
          y_train2,
          epochs = 25,
          batch_size = 250,
          class_weight=class_weights,
          validation_split= 0.3,
          verbose = 1,
          #callbacks=[es]
         )

Epoch 1/25
1061/1061 [==============================] - 9s 7ms/step - loss: 0.9365 - accuracy: 0.5005 - val_loss: 1.0822 - val_accuracy: 0.4994
Epoch 2/25
1061/1061 [==============================] - 7s 7ms/step - loss: 0.8616 - accuracy: 0.5009 - val_loss: 1.1102 - val_accuracy: 0.4994
Epoch 3/25
1061/1061 [==============================] - 7s 7ms/step - loss: 0.8293 - accuracy: 0.4994 - val_loss: 1.0134 - val_accuracy: 0.4994
Epoch 4/25
1061/1061 [==============================] - 8s 7ms/step - loss: 0.7969 - accuracy: 0.5226 - val_loss: 1.0062 - val_accuracy: 0.5807
Epoch 5/25
1061/1061 [==============================] - 7s 7ms/step - loss: 0.7717 - accuracy: 0.6088 - val_loss: 0.9529 - val_accuracy: 0.6204
Epoch 6/25
1061/1061 [==============================] - 7s 7ms/step - loss: 0.7429 - accuracy: 0.6254 - val_loss: 0.8881 - val_accuracy: 0.6285
Epoch 7/25
1061/1061 [==============================] - 7s 7ms/step - loss: 0.7167 - accuracy: 0.6380 - val_loss: 0.8804 - val_accuracy: 0.6302
Epoch 8/25
1061/1061 [==============================] - 7s 6ms/step - loss: 0.6980 - accuracy: 0.6471 - val_loss: 0.8478 - val_accuracy: 0.6487
Epoch 9/25
1061/1061 [==============================] - 7s 7ms/step - loss: 0.6747 - accuracy: 0.6623 - val_loss: 0.7835 - val_accuracy: 0.6754
Epoch 10/25
1061/1061 [==============================] - 7s 7ms/step - loss: 0.6614 - accuracy: 0.6719 - val_loss: 0.7957 - val_accuracy: 0.6819
Epoch 11/25
1061/1061 [==============================] - 7s 7ms/step - loss: 0.6481 - accuracy: 0.6799 - val_loss: 0.8028 - val_accuracy: 0.6689
Epoch 12/25
1061/1061 [==============================] - 7s 7ms/step - loss: 0.6369 - accuracy: 0.6810 - val_loss: 0.7934 - val_accuracy: 0.6795
Epoch 13/25
1061/1061 [==============================] - 7s 6ms/step - loss: 0.6280 - accuracy: 0.6848 - val_loss: 0.7473 - val_accuracy: 0.6918
Epoch 14/25
1061/1061 [==============================] - 7s 7ms/step - loss: 0.6224 - accuracy: 0.6937 - val_loss: 0.7366 - val_accuracy: 0.6884
Epoch 15/25
1061/1061 [==============================] - 7s 6ms/step - loss: 0.6134 - accuracy: 0.6916 - val_loss: 0.7071 - val_accuracy: 0.7136
Epoch 16/25
1061/1061 [==============================] - 7s 6ms/step - loss: 0.6021 - accuracy: 0.7003 - val_loss: 0.7432 - val_accuracy: 0.6922
Epoch 17/25
1061/1061 [==============================] - 7s 6ms/step - loss: 0.5980 - accuracy: 0.7002 - val_loss: 0.7111 - val_accuracy: 0.6984
Epoch 18/25
1061/1061 [==============================] - 7s 6ms/step - loss: 0.5918 - accuracy: 0.7050 - val_loss: 0.7142 - val_accuracy: 0.7090
Epoch 19/25
1061/1061 [==============================] - 7s 6ms/step - loss: 0.5842 - accuracy: 0.7142 - val_loss: 0.7037 - val_accuracy: 0.7016
Epoch 20/25
1061/1061 [==============================] - 7s 7ms/step - loss: 0.5759 - accuracy: 0.7135 - val_loss: 0.6864 - val_accuracy: 0.7002
Epoch 21/25
1061/1061 [==============================] - 7s 6ms/step - loss: 0.5699 - accuracy: 0.7158 - val_loss: 0.6684 - val_accuracy: 0.7196
Epoch 22/25
1061/1061 [==============================] - 7s 6ms/step - loss: 0.5648 - accuracy: 0.7191 - val_loss: 0.6853 - val_accuracy: 0.7163
Epoch 23/25
1061/1061 [==============================] - 7s 6ms/step - loss: 0.5620 - accuracy: 0.7212 - val_loss: 0.6875 - val_accuracy: 0.7103
Epoch 24/25
1061/1061 [==============================] - 7s 6ms/step - loss: 0.5583 - accuracy: 0.7236 - val_loss: 0.6265 - val_accuracy: 0.7248
Epoch 25/25
1061/1061 [==============================] - 7s 7ms/step - loss: 0.5559 - accuracy: 0.7277 - val_loss: 0.6974 - val_accuracy: 0.7089

In [224]:
_, accuracy = model.evaluate(x_resampled, y_resampled)

print('Accuracy: %.2f' % (accuracy*100))

17668/17668 [==============================] - 20s 1ms/step - loss: 2.2905 - accuracy: 0.5000
Accuracy: 50.00

In [225]:
predictions = model.predict(X_test_over)

# round predictions 
rounded = [round(x[0]) for x in predictions]

print("F1_SCORE {}".format(f1_score(y_test2, rounded)))
print("Accuracy {}".format(accuracy_score(y_test2, rounded)))

F1_SCORE 0.7258516971604899
Accuracy 0.6228607569155237

In [229]:
from sklearn.metrics import confusion_matrix

print(classification_report(y_test2, rounded))
print(confusion_matrix(y_test2, rounded))

              precision    recall  f1-score   support

           0       1.00      0.25      0.40     93370
           1       0.57      1.00      0.73     93203

    accuracy                           0.62    186573
   macro avg       0.78      0.62      0.56    186573
weighted avg       0.78      0.62      0.56    186573

[[23059 70311]
 [   53 93150]]

In [227]:
from sklearn.ensemble import RandomForestClassifier

# Create the model with 100 trees
rf = RandomForestClassifier(n_estimators=100, bootstrap = True, max_features = 'sqrt', class_weight="balanced")

# Train the model on training data
rf.fit(X_train_over, y_train2);

In [228]:
# Use the forest's predict method on the test data
predictions = rf.predict(X_test_over)
# Calculate the absolute errors

print("F1_SCORE {}".format(f1_score(y_test2, predictions)))
print("Accuracy {}".format(accuracy_score(y_test2, predictions)))

F1_SCORE 0.997778003844321
Accuracy 0.9977756695770557

In [230]:
print(classification_report(y_test2, predictions))
print(confusion_matrix(y_test2, predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     93370
           1       1.00      1.00      1.00     93203

    accuracy                           1.00    186573
   macro avg       1.00      1.00      1.00    186573
weighted avg       1.00      1.00      1.00    186573

[[92981   389]
 [   26 93177]]